/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Header */
.header {
  background-color: #D6EBFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 5rem;
}

.logo {
  font-size: 2.8rem;
  font-weight: 800;
  color: rgb(146, 180, 21);
  letter-spacing: -1px;
  transition: font-size 300ms;
  cursor: pointer;
}

.logo:hover {
  font-size: 2.9rem;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav a {
  color: #555;
  font-weight: 600;
  padding: 1.2rem 2rem;
}

.main-nav .cta {
  color: #eaf2f9;
}

.main-nav a:hover {
  color: #297BC0;
}

.main-nav .cta:hover {
  color: #222;
}


.menu-nav-icon, .close-nav-icon {
  display: none;
}

.menu-mode .main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  background-color: #7fb0d9e8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 6rem 0;
}

.menu-mode .main-nav a {
  font-size: 3.8rem;
  color: #222;
  transition: all 0.5s;
}

.menu-mode .main-nav a:hover{
  background-color: #326691;
}


.menu-mode .main-nav .cta {
  margin: 0;
  padding: 1rem 3rem;
  color: #e9f2fa;
}

.menu-mode .main-nav .cta:hover {
  background-color: #0f60a3;
}



/* Hero section */

.section-hero {
  background-color: #D6EBFC;
}

.hero {
  padding: 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4.8rem;
  padding-bottom: 9rem;
}


.hero-img {
  width: 100%;
}

/* destinations */
.section-destination {
  text-align: center;
  margin: 9.6rem 0;
}

.heading-secondary {
  color: #222;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.destinations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid #99CDF8;
  border-radius: 10px;
}


.destinations img {
  width: 100%;
  height: 100%;
  max-height: 40rem;
  transition: all 300ms;
}

.destinations img:hover {
  transform: scale(1.01);
}

.destinations .destination {
  position: relative;
}

.destinations a {
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: #297cc098;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  transition: all 300ms;
}

.destinations a:hover {
  background-color: #297BC0;
  box-shadow: 0 2rem 3rem rgb(0, 0, 0, 0.1);
}

/* Steps */
.section-steps {
  background-color: #ADD7F9;
  color: black;
}

.guide {
  padding: 12rem 4.5rem;
  text-align: center;
}

.guide h2 {
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -0.5px;
}

.guide>p {
  font-size: 1.7rem;
  margin-bottom: 7rem;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.step {
  max-width: 25rem;
}

.steps i {
  font-size: 4.4rem;
  margin-bottom: 2.8rem;
  color: #5caef3;
}

.steps h3 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.steps p {
  font-size: 1.52rem;
}

.guide a {
  display: inline-block;
  color: white;
  font-size: 2.4rem;
  margin-top: 5.5rem;
  background-color: #339AF0;
  box-shadow: 1rem 1rem 2rem rgb(0, 0, 0, 0.1);
  transition: background-color 300ms;
}

.guide a:hover {
  background-color: #297BC0;
}

/* testimonials */
.section-testimonials {
  text-align: center;
  padding: 8rem 0 10rem;
  background-color: #fffbeb;
}

.section-testimonials h2 {
  font-size: 2.7rem; 
  color: #333;
  font-weight: 700; 
  margin-bottom: 6.4rem;
}

.testimonials {
  position: relative;
  max-width: 75rem;
  margin: auto;
}

.testimonial {
  display: none;
  background-color: #f9c74f;
  
  padding: 2rem 2rem 2rem 4.5rem;
  gap: 7rem;
  box-shadow: 0.5rem 0.5rem 5rem rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: left;
  align-items: center;
}

.current-testimonial {
  display: flex;
}

.testimonial img{
  height: 25rem;
  min-width: 23rem;
  transform: scale(1.1, 1.35);
  border-radius: 5px;
  border-bottom-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.2);
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000;
}

.caret {
  font-size: 4rem;
  color:#6b5520;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-radius: 50%;
  transition: font-size 300ms;
}



.caret-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}

.caret:hover {
  font-size: 4.5rem;
}

.caret-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  
}

.dots {
  display: flex;
  gap: 0.6rem;
  position: absolute;
  left: 50%;
  transform: translate(-20%, 2.2rem);
}

.dots div {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 1px solid #3b2e0f;
}

.dots .selected {
  background-color: #3b2e0f;
}


/* product overview */
.product-overview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/showcase.png);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.product-container {
  display: flex;
  justify-content: center;
  max-width: 100rem;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 12rem 9rem;
}

.product-overview .heading-secondary {
  color: #50a3e7;
  font-size: 7.5rem;
  text-align: center;
  font-family: 'Lobster', 'Inter', sans-serif;
  letter-spacing: 1rem;
}

.product-overview p {
  color: #c2e1fb;
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.product-overview a{
  background-color: #198ceb;
  color: white;
  margin-top: 5rem;
  transition: all 500ms;
}

.product-overview a:hover {
  transform: rotate(3deg);
}

/* footer */
footer {
  background-color: #0a1f30;
  color: rgb(214, 212, 212);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5rem;
}

.links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  line-height: 1.5;
}

.footer span {
  color: rgb(60, 190, 180);
  font-weight: 600;
  font-style: normal;
}

.links i {
  font-size: 3rem;
  color: rgb(179, 223, 151);
  border: none;
}
.links i:hover {
  box-shadow: 0 0 1rem rgb(179, 223, 151);
}

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.donate button {
  text-decoration: none;
  background-color: #339af0;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  color: white;
  border-radius: 5px;
  border: none;
}

.donate button:hover {
  box-shadow: 0 0 5rem #184c77;
}

p.hidden-text {
  position: absolute;
  transform: translateY(5rem);
  color: rgb(185, 161, 23);
  font-weight: bold;
  font-size: 2rem;
  display: none;
}

.donate p.visible {
  display: block;
}
